.verticalLine {
               border-left: thick solid #ff0000;
               height: 100%;
               float: left;
              }
h1 {
    border: darkblue 2px solid;
    padding: 20px;
    margin: 20px;
    }
td, th {
        /* border: black 6px solid; */
        border-width: 2px;
        border-style: solid;
        padding: 12px;
        }
table{
  position: relative;
  top: 50px;
  left: 50px;
}

hr{
  position: relative;
  top: 50px;
  left: 50px;
  }